* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: var(--black-color);
    line-height: 1.55;
    letter-spacing: -0.0125em;
    min-width: 360px;
    word-break: keep-all;
}
input,
button,
select,
textarea {
    color: inherit;
    max-width: 100%;
}
a{
    text-decoration: none;
}
img {
    max-width: 100%;
}
ul {
    list-style-type: none;
}
::selection {
    background-color: var(--black-color);
    color: #fff;
}

/*
    CSS Variables
*/
:root {
    --row-safe-gutter: 20px;
    --header-height: 46px;
    --violet-color: #cc00cc;
    --black-color: #1d1d1d;
    --contents-background-color: #f7f7f7;
    --border-grey-color: rgba(0,0,0,0.12);
    --header-margin: 12px;
}


/*
    common style
*/
.row,
.row-wide {
    padding-left: var(--row-safe-gutter);
    padding-right: var(--row-safe-gutter);
    margin-left: auto;
    margin-right: auto;
}
.row {
    max-width: 1024px;
}
.row-wide {
    max-width: 1440px;
}

/*
    global header
*/
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 46px;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
}
@supports not (backdrop-filter: saturate(180%) blur(20px)) {
    .fixed-header {
        background-color: rgba(0,0,0,0.88);
    }
}
.header-list {
    margin-left: calc(-1 * var(--header-margin));
    margin-right: calc(-1 * var(--header-margin));
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    fill: #fff;
    opacity: 0.8;
    width: 22px;
    height: 22px;
    position: relative;
    top: 3px;
}
.header-item-link {
    color: #fff;
    opacity: 0.8;
    font-weight: 100;
    padding: 12px;
    transition: all 0.23s;
}
.header-item-link:hover {
    opacity: 1;
}
.touchevents .header-item-link {
    opacity: 1;
}
.mobile-gnb {
    display: none;
}

/*
    main
*/
.main {
    padding-top: var(--header-height);
}

/*
    banner
*/
.info-banner {
    position: relative;
    background-image: url(../img/infobanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 680px;
}
.info-banner-img {
    display: none;
}

/*
    detail
*/
.detail {
    margin-top: 100px;
}
.detail-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.detail-box {
    width: 320px;
    position: relative;
}
.detail-heading {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 26px;
}
.tel a {
    color: var(--black-color);
}
.col-1 {
    width: 120px;
}
.col-2 {
    width: 150px;
}
.hours-table-day {
    font-weight: 500;
    padding-bottom: 6px;
    text-align: left;
}
.hours-table-hours {
    padding-bottom: 6px;
    text-align: center;
    letter-spacing: 0.015em;
}
.reservation {
    margin-top: 30px;
}
.reservation-link {
    color: var(--violet-color);
    font-weight: 400;
    display: flex;
}
.reservation-link:hover .r-txt {
    text-decoration-line: underline;
}

/*
    Dmuseum-sum
*/
.dmuseum-sum {
    margin-top: 120px;
    margin-bottom: 120px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: var(--contents-background-color);
}
.dmuseum-sum-wrap {
    text-align: center;
}
.dmuseum-sum-title {
    font-size: 35px;
}
.dmuseum-sum-txt {
    margin-top: 40px;
    line-height: 1.64em;
}

/*
    footer
*/
.footer {
    background-color: var(--contents-background-color);
    padding-top: 50px;
    padding-bottom: 80px;
    font-size: 13px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}
.footer-legal {
    display: flex;
}
.footer-legal a {
    color: var(--black-color);
    font-weight: 400;
}
.footer-legal li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0.7em;
    background-color: #aaa;
    margin: 0 0.5em;
}
.footer-sns {
    display: flex;
}
.footer-sns a {
    color: #868686;
}
.footer-sns li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0.7em;
    background-color: #aaa;
    margin: 0 0.5em;
}
.footer-bottom {
    padding-top: 16px;
    color: #868686;
}
.footer-info {
    display: flex;
    margin-top: 3px;
}
.footer-info li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0.7em;
    margin: 0 0.8em;
    background-color: #aaa;
}
.footer-copyright {
    margin-top: 3px;
}
.footer a:hover {
    text-decoration-line: underline;
}